apiVersion: apps/v1
kind: Deployment
metadata:
  name: debian-latest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
    spec:
    securityContext:
    runAsUser: 1000
      containers:
      - name: debian
        image: debian:latest
        ports:
        - containerPort: 80
