apiVersion: v1
kind: Deployment
metadata:
  name: debian-latest
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
    securityContext:
    runAsUser: 1000 # default UID of jenkins user in agent image
      containers:
      - name: debian
        image: debian:latest
        ports:
        - containerPort: 80
