apiVersion: apps/v1
kind: Deployment
metadata:
  name: debian
  labels:
    app: web
spec:
  selector:
    matchLabels:
      app: web
  replicas: 5
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
       —name: debian
          image: debian:latest
          ports:
           —containerPort: 80