apiVersion: apps/v1
kind: Deployment
metadata:
  name: debian-latest
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: debian
        image: debian:latest
        ports:
        - containerPort: 80
